<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=yourediddos;AccountKey=PXxByKbH1MGMWGaHDMS/Pov/uVaV5OFfFWz6etgAgFrKxKQHK7eJaK4tTrh7kGZCIFJWyrbJBlHotVWkKHhixQ==;BlobEndpoint=https://yourediddos.blob.core.windows.net/;QueueEndpoint=https://yourediddos.queue.core.windows.net/;TableEndpoint=https://yourediddos.table.core.windows.net/;FileEndpoint=https://yourediddos.file.core.windows.net/;"/>
  </connectionStrings>
</configuration>